/*========= オリジナルのCSS ===============*/
*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

h1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 150px;
    width: 150px;
    margin: 0;
    letter-spacing: 0.1rem;
}

h2 {
    font-size: 3rem;
    font-family: 'DotGothic16', sans-serif;
    letter-spacing: 0.1rem;
}

h3 {
    font-family: 'DotGothic16', sans-serif;
    font-size: 1.75rem;
    position: relative;
}

h3:before {
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 1px;
    content: '';
    background: #fff;
}

h3>span {
    position: relative;
    padding: 0 1em;
    background-color: #24262b;
    ;
}

p {
    font-size: 1.2rem;
    line-height: 3rem;
    font-family: 'DotGothic16', sans-serif;
    letter-spacing: 0.1rem;
}

h1>a {
    height: 100%;
    width: 100%;
    display: block;
}

.btn,
a.btn,
button.btn {
    font-family: 'DotGothic16', sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 0.8rem 3rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #24262b;
    border-radius: 0.5rem;
    margin-top: 40px;
}

a.btn-radius-solid {
    border: 1px solid #ccc;
    background: #f1e767;
    background: -webkit-gradient(linear, left top, left bottom, from(#fdfbfb), to(#ebedee));
    background: -webkit-linear-gradient(top, #fdfbfb 0%, #ebedee 100%);
    background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
    -webkit-box-shadow: inset 1px 1px 1px #fff;
    box-shadow: inset 1px 1px 1px #fff;
}

a.btn-radius-solid:hover {
    background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfb), to(#ebedee));
    background: -webkit-linear-gradient(bottom, #fdfbfb 0%, #ebedee 100%);
    background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
}

#particle {
    width: 100%;
    height: 100vh;
    max-width: 1200px;
    vertical-align: bottom;
}

.logo--top {
    height: 100%;
    width: 100%;
    margin: 0%;
    /* top: 2vw;
    left: 2vw;
    z-index: 10; */
}

.cercle-home {
    z-index: 9999;
    position: absolute;
    height: 100px;
    width: 100px;
    margin: 25px;
    display: block;
    border-radius: 50%;
    background-color: #FFD768;
    box-shadow: 0px 0px 15px 0px #FFF;
}

.reserved {
    font-size: small;
    text-align: center;
    margin: 0;
    color: #999;
    background-color: #333;
    font-family: sans-serif;
    letter-spacing: normal;
}

#header {
    position: absolute;
    top: 20px;
    left: 20px;
    width: calc(100vw - 40px);
}

/*========= ローディング画面のためのCSS ===============*/
#splash {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #333;
    z-index: 9999999;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

#splash-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*========= 画面遷移のためのCSS ===============*/

body {
    background: #333;
    /*遷移アニメーションと同じ色を指定*/
    margin: 0;
}

body.appear {
    background: #fff;
    /*画面を開いた後の背景色を指定*/
}

/*画面遷移アニメーション*/
.splashbg1,
.splashbg2 {
    display: none;
}

/*bodyにappearクラスがついたら出現*/
body.appear .splashbg1,
body.appear .splashbg2 {
    display: block;
}

/*上に消えるエリア*/
body.appear .splashbg1 {
    animation-name: PageAnime;
    animation-duration: 1.4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    content: "";
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    bottom: 50%;
    left: 0;
    transform: scaleY(1);
    background-color: #333;
    /*伸びる背景色の設定*/
}

@keyframes PageAnime {
    0% {
        transform-origin: top;
        transform: scaleY(1);
    }

    100% {
        transform-origin: top;
        transform: scaleY(0);
    }
}

/*下に消えるエリア*/
body.appear .splashbg2 {
    animation-name: PageAnime2;
    animation-duration: 1.4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    content: "";
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    top: 50%;
    left: 0;
    transform: scaleY(1);
    background-color: #333;
    /*伸びる背景色の設定*/
}

@keyframes PageAnime2 {
    0% {
        transform-origin: bottom;
        transform: scaleY(1);
    }

    100% {
        transform-origin: bottom;
        transform: scaleY(0);
    }
}

/*画面遷移の後現れるコンテンツ設定*/
#container {
    opacity: 0;
    /*はじめは透過0に*/
    /* max-width: 1200px; */
    margin: auto;
}

/*bodyにappearクラスがついたら出現*/
body.appear #container {
    animation-name: PageAnimeAppear;
    animation-duration: 1s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

body.appear #particles-js {
    position: absolute;
    /*描画固定*/
    top: 0;
    left: 0;
    z-index: -1;
    /*描画を一番下に*/
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    margin: 20px;
    /* background-color:#0F1226; */
    background: linear-gradient(#0F1226 0%, #222 100%);
}

.fadeUp {
    animation-name: fadeUpAnime;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.fadeUpTrigger {
    opacity: 0;
}

.fire_flower{
    position: fixed;
    opacity: 0.75;
    pointer-events: none;
}
.fire_flower>img{
    height: 100%;
    width: 100%;
}
.fire_flower01{
    top: 60vh;
    left: 0vw;
}
.fire_flower02{
    top: 37vh;
    left: 70vw;
}

.fire_flower03{
    top: -1vh;
    left: 10vw;
}

.fire_flower04{
    top: -4vw;
    left: 80vw;
}

@keyframes PageAnimeAppear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeUpAnime {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1000px) {
    .pc {
        display: none;
    }
}

@media (max-width: 721px) {
    #header {
        position: absolute;
        top: 15px;
        left: 15px;
        width: calc(100vw - 30px);
    }

    #particle {
        width: 100% !important;
        height: 100vw !important;
    }

    h1 {
        height: 80px;
        width: 80px;
        margin: 0;
        letter-spacing: 0.1rem;
    }

    body.appear #particles-js {
        width: calc(100% - 30px);
        height: calc(100vw - 30px);
        margin: 15px;
    }

    .cercle-home {
        height: 50px;
        width: 50px;
        margin: 15px;
    }

    h2 {
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
    }

    p {
        font-size: 0.85rem;
        line-height: 2rem;
        letter-spacing: 0.2rem;
    }
    .fire_flower{
        width: 182px;
        height: 215px;
    }
    .fire_flower01{
        top: 70vh;
        left: -10vw;
    }
    .fire_flower02{
        top: 80vh;
        left: 70vw;
    }
    
    .fire_flower03{
        top: 10vh;
        left: -20vw;
    }
    
    .fire_flower04{
        top: -5vh;
        left: 75vw;
    }
}