#lippyD-mes-wrap{
    margin-top: 0;
    padding-top: 20px;
    background-color: #24262b;
    height: 100vh;
    width: 100%;
    background-color: #24262b;
}

#lippyD-mes-ul{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    max-width: 1200px;
    margin: 80px auto 0;
    text-align: center;
    list-style: none;
}

#lippyD-mes-ul>.li{
    width: calc((100% - 40px) / 3);
    background-color: #fff;
    border-radius: 5px;
    padding: 20px 0;
    cursor: pointer;
}
#lippyD-mes-ul>.li>a{
    text-decoration: none;
    color: initial;
}

#lippyD-mes-ul>.li>a>.name,
#lippyD-mes-ul>.li>a>.minmes{
    padding: 0 40px;
    line-height: 2;
    pointer-events: none;
    transition: all 0.2s;
    text-decoration: none;
}

#lippyD-mes-ul>.li:hover>a>.name,
#lippyD-mes-ul>.li:hover>a>.minmes{
    opacity: 0.5;
}

#lippyD-mes-ul>.li>a>.name{
    font-weight: bold;
}