#lippyD-mes-wrap {
    margin-top: 0;
    padding-top: 20px;
    background-color: #24262b;
    width: 100%;
    background-color: #24262b;
}

#lippyD-mes-ul {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    max-width: 1200px;
    margin: auto;
    text-align: center;
    list-style: none;
    justify-content: center;
}

#lippyD-mes-ul>.li {
    width: calc((100% - 40px) / 3);
    background-color: #fff;
    border-radius: 5px;
    padding: 20px 0;
    cursor: pointer;
}

#lippyD-mes-ul>.li>a {
    text-decoration: none;
    color: initial;
}

#lippyD-mes-ul>.li>a>.name,
#lippyD-mes-ul>.li>a>.minmes {
    padding: 0 40px;
    line-height: 2;
    pointer-events: none;
    transition: all 0.2s;
    text-decoration: none;
    letter-spacing: 3px;
}

#lippyD-mes-ul>.li:hover>a>.name,
#lippyD-mes-ul>.li:hover>a>.minmes {
    opacity: 0.5;
}

#lippyD-mes-ul>.li>a>.name {
    font-weight: bold;
}

#lippyD-mes-ul>.li>a>.minmes {
    text-align: start;
}

#modal_mes {
    display: none;
}

.modal-wrapper {
    background-color: #fff;
    padding: 20px 30px;
    max-width: 500px;
    margin: auto;
    line-height: 2.5;
    letter-spacing: 3px;
    border-radius: 5px;
    list-style: none;
}

.modal-wrapper .hidden {
    display: none !important;
}

.modal-wrapper .modal {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-height: 500px;
    overflow-y: auto;
}

.modal-wrapper .name {
    text-align: center;
    font-weight: bold;
}

@media (max-width: 721px) {
    #lippyD-mes-ul {
        margin: 0 20px;
        display: block;
    }

    #lippyD-mes-ul>.li {
        width: 100%;
        margin-bottom: 20px;
    }

    #lippyD-mes-ul>.li>a>.name, #lippyD-mes-ul>.li>a>.minmes {
        padding: 0 20px;
    }

    .modal-wrapper {
        line-height: 1.5;
        letter-spacing: 2px;
        padding: 20px 15px;
    }

    .modaal-content-container {
        padding: 0 !important;
    }
}